<h1>物語一覧</h1>


  <% @stories.each do |story| %>
    <div class ="story-title"> 
      <%= link_to(story.title, story_path(story.id)) %>
    </div>
  <% end %>  

  <div class="new-story-botton">
    <%= link_to("新しい物語を作成", new_story_path) %>
  </div>