<h1>物語一覧</h1>


  <% @stories.each do |story| %>
    <div class ="story-title"> 
      <%= story.title %>
    </div>
  <% end %>  

  <div class="new-story-botton">
    <%= link_to("物語登録", new_story_path) %>
  </div>