// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story-title {
  font-size: 20px;
}

.new-story-botton {
  width: 121px;
  border: solid 1px;
  text-align: center;
  margin-top: 20px;
}
